home-cmp {
    h1 {
        text-align: center;
    }

    img {
        display: block;
        margin: auto;
    }

    .jumbotron {
        background: url('../assets/img/court3.jpg') no-repeat;
        background-size: 100% 100%;
    }

    .main {
        background: url('../assets/img/lightbackground.png');
        background-size: 100% 100%;
    }
    
}