// mapLocaiton.scss
//Formatting for the map page
mapLocation-cmp {

    .jumbotron {
        background: url('../assets/img/court3.jpg') no-repeat;
        background-size: 100% 100%;
    }

    // formatting for google map to work correctly
    .sebm-google-map-container {
        height: 300px;
    }

}