mapLocation-cmp {

    .jumbotron {
        background: url('../assets/img/court3.jpg') no-repeat;
        background-size: 100% 100%;
    }

    .sebm-google-map-container {
        height: 300px;
    }

}